.wrapper1 {
  display: flex;
  justify-content: space-between;
}

.wrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.itemWrapper {
  display: flex;
  flex-direction: column;
}
.shippWrapper {
  display: flex;
  flex-direction: column;
}
