.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.res {
  background-color: white;
}
.wra .ais-SearchBox-input {
  width: 50%;
}
.icon {
  margin-left: auto;
}
.section {
  color: black;
}
.subMenu {
  color: black;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
  align-items: center;
  width: 100;
}

.link {
  font-size: 20px;
}
.link:hover {
  color: #b3662f;
}

.ais-Hits-list {
  list-style-type: none;
}

.ant-menu-item a {
  color: rgba(252, 249, 249, 0.85);
}
.img {
  cursor: pointer;
  height: 100%;
}
@media (max-width: 720px) {
  .section {
    width: 100px;
  }
}
