.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  margin-left: auto;
}
.section {
  color: black;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
  align-items: center;
  width: 100;
}
.link {
  font-size: 20px;
  color: white;
}

.link:hover {
  color: #63b32f;
}

.img {
  cursor: pointer;
  width: 50%;
  height: 50%;
}
