.wrapper {
  display: flex;
  justify-content: space-around;
}

.menu {
  background-color: #100c0d;
  width: 30%;
}

.link {
  color: white !important;
}

.link:hover {
  color: #cc8b65 !important;
}
