.container {
  overflow: hidden;
}

.imageContainer {
  display: flex;
  flex-direction: row;
}
.size {
  display: flex;
  flex-direction: column;
}
.price {
  display: flex;
  flex-direction: column;
}

.btn {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15%;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .btn {
    height: 20%;
  }
  .imageContainer {
    flex-wrap: wrap;
  }
}

.span {
  font-size: 30px;
}
.span1 {
  font-size: 25px;
}
