.container {
  overflow: hidden;
}
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 400px;
}

.imageContainer {
  display: flex;
  flex-direction: row;
}
.size {
  display: flex;
  flex-direction: column;
}
.price {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15%;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .btn {
    height: 20%;
  }
  .imageContainer {
    flex-wrap: wrap;
  }
}

.span {
  font-size: 30px;
}
.span1 {
  font-size: 25px;
}
.col2Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
