.Cont {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
}

.parag {
  color: white;
  list-style-type: none;
}
.parag a:hover {
  color: #cc8b65;
}
.Title {
  color: #cc8b65;
}
.divider {
  background-color: white;
}
.Copy {
  font-size: 16px;
  font-family: italic;
  text-align: center;
  color: white;
}
